@import "globals.module.scss";

.login {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  .login_form_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    // padding-top: 100px;
    width: 100%;
    max-width: 550px;
    margin: 0;
    // border: 1px solid red;

    .title_box {
      display: flex;
      flex-direction: column;

      .login_title {
        color: $primary-color_10;
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;
        align-self: flex-start;
        font-family: 'Montserrat', sans-serif;
      }

      .login_subtitle {
        color: $primary-color;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        align-self: flex-start;
      }
    }

    .login_form {
      width: 100%;

      .inputs_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        input {
          @extend %input-shared;
        }

        input:focus {
          @extend %input-shared-focus
        }

        .password_container {
          width: 100%;
          position: relative;

          input {
            @extend %input-shared;
            width: 100%;
          }

          input:focus {
            @extend %input-shared-focus
          }

          span {
            position: absolute;
            top: 12px;
            right: 18px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 10%;
            color: $primary-color;
            text-transform: uppercase;
            cursor: pointer;
          }
        }

        a {
          align-self: flex-start;
          padding: 0;
          margin: 0;
          color: $primary-color;
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
        }
      }

      .login_btn {
        height: 40px;
        width: 100%;
        margin-top: 30px;
        background: $primary-color;
        color: #FFFFFF;
        font-size: 14px;
        letter-spacing: 10%;
        font-weight: 600;
        line-height: 19px;
        border-radius: 5px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
      }
    }

    .divider_box {
      @extend %shared_divider_box;

      .divider_box_content {
        @extend %shared_divider_box_content;
      }
    }

    .auth_providers {
      // border: 1px solid red;
      margin-top: 20px;
      display: grid;
      place-items: center;
      gap: 15px;
      width: 100%;

      div {
        width: 100%;

        .auth_provider {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          border: none;
          color: $primary-color_10;
          background-color: $primary-color_90;
          cursor: pointer;
          // padding-left: 20%;
        }
      }
    }
  }
}


// Large devices (1200px and down)
@media (max-width: 1200px) {
  .login {

    .login_form_box {
      gap: 30px;
      width: 100%;
      max-width: 500px;
      margin: 0;
      // border: 1px solid red;

      .title_box {

        .login_title {
          font-size: 36px;
          font-weight: 700;
          line-height: 48px;
          align-self: flex-start;
          font-family: 'Montserrat', sans-serif;
        }

        .login_subtitle {
          color: $primary-color;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          align-self: flex-start;
        }
      }

      .login_form {
        width: 100%;

        .inputs_box {
          gap: 30px;
        }
      }
    }
  }
}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  .login {
    .login_form_box {
      gap: 20px;
      max-width: 450px;

      .title_box {

        .login_title {
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
          align-self: flex-start;
          font-family: 'Montserrat', sans-serif;
        }

        .login_subtitle {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .login_form {

        .inputs_box {
          gap: 20px;
        }
      }
    }
  }
}


// Small devices (phones, 576px and down)
@media (max-width: 576px) {
  .login {
    grid-gap: 20px;
    padding: 15px;

    .login_form_box {
      gap: 20px;

      .title_box {

        .login_title {
          font-size: 28px;
          line-height: 36px;
        }

        .login_subtitle {
          font-size: 14px;
          line-height: 16px;
        }
      }

      .login_form {
        width: 100%;

        .inputs_box {
          gap: 20px;

          .password_container {

            span {
              right: 10px;
              font-size: 10px;
            }
          }

          a {
            font-size: 10px;
            font-weight: 500;
            line-height: 12px;
          }
        }

        .login_btn {
          margin-top: 30px;
          font-size: 12px;
          letter-spacing: 10%;
          font-weight: 600;
          line-height: 16px;
        }
      }

      .auth_providers {
        margin-top: 20px;
        gap: 15px;

        div {

          .auth_provider {
            gap: 20px;
            height: 40px;
          }
        }
      }
    }

  }

}

