// * {
//   box-sizing: border-box;
// }  #39CDCC

$primary-color: rgb(128, 0, 128);
$primary-color_active_link: #ffe6ff;
$background-color: #FBFBFB;

$white: rgb(255, 255, 255);
$lighterPurple: rgba(118, 74, 188, 0.2);
$lightPurple: rgba(118, 74, 188, 0.3);
$darkPurple: rgb(77, 0, 77);
$darkerPurple: rgb(26, 0, 26);
$reduxPurple: rgb(118, 74, 188);


%input-shared {
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  padding: 0 16px;
  color: $darkerPurple;
  border: 1px solid $lightPurple;
  outline: none;
  box-sizing: border-box;

  // newly added
  width: 100%;
}

%input-shared-focus {
  border: none;
  outline: 1px solid $primary-color;
}

%shared_divider_box {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid $primary-color;
  text-align: center;
  // border: 1px solid green;
}

%shared_divider_box_content {
  font-size: 24px;
  font-weight: 600;
  background-color: #FFFFFF;
  padding: 0 10px;
  color: $darkerPurple;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  p:first-child {
    font-weight: 700;
    font-size: 20px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 100%;
  color: whitesmoke;
  background-color: $primary-color;
  display: grid;
  place-items: center;
}


.products_container {
  width: 100%;
  padding: 30px 30px 39px 30px;
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $lightPurple;
  box-shadow: 0 20px 3px, 5px rgba(0, 0, 0, 0.06);
  font-weight: 400;
  font-size: 14px;
  position: relative;

  tbody {
    tr {
      &:first-child {
        td {
          input {
            width: 100%;
            box-sizing: border-box;
            height: 30px;
            font-size: 16px;
            border-radius: 5px;
            margin-bottom: 20px;
            outline: none;
            border: 1px solid $lightPurple;
          }

          input:focus {
            border: none;
            outline: 1px solid $darkPurple;
          }
        }
      }


      text-align: left;
      color: #000;
      font-weight: 500;

      th {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $darkerPurple;
        font-family: "Montserat", sans-serif;

        .table_header_flex {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            cursor: pointer;
          }

          .hide_filter_container {
            display: none;
          }

          .filter_container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: absolute;
            top: 70px;
            left: 15px;
            width: 270px;
            border-radius: 4px;
            padding: 30px 20px;
            background-color: $white;
            z-index: 1;
            border: 1px solid rgba(33, 63, 125, 0.06);
            box-shadow: 0 20px 3px, 5px rgba(0, 0, 0, 0.04);
            // border: 2px solid red;

            .input_fields_container {
              display: flex;
              flex-direction: column;
              gap: 20px;

              label {
                display: flex;
                flex-direction: column;
                gap: 6px;
                font-size: 14px;
                line-height: 16px;
                color: #545F7D;
                font-weight: 500;
                text-transform: capitalize;

                input,
                select {
                  height: 40px;
                  font-size: 14px;
                  line-height: 16px;
                  color: #545F7D;
                  font-weight: 400;
                  border-radius: 8px;
                  border: 1px solid #213F7D;
                  padding: 0 20px;
                }
              }

              .organisation_option_box {
                position: relative;
                // border: 1px solid red;

                select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                }

                .organisation_select_icon {
                  position: absolute;
                  // left: 200px;
                  right: 20px;
                  top: 31px;
                }
              }

              .status_option_box {
                position: relative;
                // border: 1px solid red;

                select {
                  -webkit-appearance: none;
                  -moz-appearance: none;
                }

                .status_select_icon {
                  position: absolute;
                  right: 20px;
                  top: 31px;
                }
              }
            }

            .filter_btn_container {
              display: flex;
              gap: 14px;
              width: 100%;

              %form_btn_shared {
                height: 40px;
                font-size: 14px;
                line-height: 16px;
                font-weight: 600;
                border-radius: 8px;
                width: 100%;
                cursor: pointer;
              }

              .reset_btn {
                @extend %form_btn_shared;
                color: #545F7D;
                border: 1px solid #545F7D;
                background-color: $white;
              }

              .submit_btn {
                @extend %form_btn_shared;
                color: $white;
                border-radius: 8px;
                background-color: #39CDCC;
                border: none;
              }
            }

          }
        }
      }

      td {
        border-bottom: 1px solid $lighterPurple;
        height: 60px;
      }

      td:last-child {
        text-align: right;
        color: $primary-color;
        font-style: italic;
        font-family: monospace;

        span {
          cursor: pointer;
        }
      }

      // &:first-child {
      //   td {
      //     input {
      //       width: 100%;
      //       box-sizing: border-box;
      //     }
      //   }
      // }

    }

    // tr:first-child {
    //   td {
    //     border: 1px solid red;
    //   }
    // }

    // tr:nth-child(2) {
    //   margin-top: 20px;

    //   td {
    //     margin-top: 20px;
    //     border: 1px solid red;
    //   }
    // }

    // tr:last-child {
    //   td {
    //     border-bottom: none;
    //   }
    // }

  }
}


.pagination_container {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  // border: 2px solid red;

  .prev,
  .next {
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    background-color: rgba(33, 63, 125, 0.1);
    font-size: 14px;
    cursor: pointer;
  }

  .pageNumber {
    color: $darkPurple;
    font-size: 18px;
    font-weight: 600;
  }

  .disabled {
    cursor: not-allowed;
    color: grey;
  }

}


.data_modifier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  // border: 2px solid green;
}


.items_per_page {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  position: relative;

  select {
    background-color: rgba(33, 63, 125, 0.1);
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: none;
    padding: 0 10px;
    margin: 0 5px;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    // text-indent: 1px;
    // text-overflow: '';
  }

  select:focus {
    outline: 2px solid $primary-color;
    border: none;
  }

  .items_per_page_icon {
    position: absolute;
    top: 3.5px;
    left: 111px;
  }
}


.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  input,
  select {
    height: 30px;
    font-size: 14px;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid $lightPurple;
  }

  input:focus,
  select:focus {
    outline: 1px solid $primary-color;
    border: none;
  }

  textarea {
    height: 60px;
    font-size: 14px;
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid $lightPurple;
  }

  textarea:focus {
    outline: 1px solid $primary-color;
    border: none;
  }

}

.btn_fill {
  color: $white;
  background-color: $reduxPurple;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-width: 150px;
}








// Large devices (1200px and down)
@media (max-width: 1200px) {
  %shared_divider_box {
    height: 13px;
  }

  %shared_divider_box_content {
    font-size: 20px;
  }
}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  %shared_divider_box {
    height: 12px;
  }

  %shared_divider_box_content {
    font-size: 18px;
  }
}

// Small devices (phones, 576px and down)
@media (max-width: 576px) {
  %shared_divider_box {
    height: 10px;
  }

  %shared_divider_box_content {
    font-size: 14px;
  }
}


// font-family: 'Montserrat', sans-serif;
// font-family: 'Mulish', sans-serif;
// font-family: 'Roboto', sans-serif;