// * {
//   box-sizing: border-box;
// }  #39CDCC

$primary-color: rgb(128, 0, 128);
$primary-color_active_link: #ffe6ff;
$background-color: #FBFBFB;

$white: rgb(255, 255, 255);
$lighterPurple: rgba(118, 74, 188, 0.2);
$lightPurple: rgba(118, 74, 188, 0.3);
$darkPurple: rgb(77, 0, 77);
$darkerPurple: rgb(26, 0, 26);
$reduxPurple: rgb(118, 74, 188);


%input-shared {
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  padding: 0 16px;
  color: $darkerPurple;
  border: 1px solid $lightPurple;
  outline: none;
  box-sizing: border-box;

  // newly added
  width: 100%;
}

%input-shared-focus {
  border: none;
  outline: 1px solid $primary-color;
}

%shared_divider_box {
  width: 100%;
  height: 15px;
  border-bottom: 1px solid $primary-color;
  text-align: center;
  // border: 1px solid green;
}

%shared_divider_box_content {
  font-size: 24px;
  font-weight: 600;
  background-color: #FFFFFF;
  padding: 0 10px;
  color: $darkerPurple;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  p:first-child {
    font-weight: 700;
    font-size: 20px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 100%;
  color: whitesmoke;
  background-color: $primary-color;
  display: grid;
  place-items: center;
}


// Large devices (1200px and down)
@media (max-width: 1200px) {
  %shared_divider_box {
    height: 13px;
  }

  %shared_divider_box_content {
    font-size: 20px;
  }
}

// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {
  %shared_divider_box {
    height: 12px;
  }

  %shared_divider_box_content {
    font-size: 18px;
  }
}

// Small devices (phones, 576px and down)
@media (max-width: 576px) {
  %shared_divider_box {
    height: 10px;
  }

  %shared_divider_box_content {
    font-size: 14px;
  }
}






// font-family: 'Montserrat', sans-serif;
// font-family: 'Mulish', sans-serif;
// font-family: 'Roboto', sans-serif;