@import "globals.module.scss";

.figures_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  // margin-bottom: 50px;/

  .figures_grid_child {
    background-color: $white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;

    p {
      margin: 0;
    }

    .grid_title {
      font-weight: 500;
      color: $darkPurple;
      font-family: "Roboto", sans-serif;
    }

    .grid_number {
      font-weight: 600;
      font-size: 40px;
      font-variant-numeric: tabular-nums;
      font-family: "Mulish", sans-serif;
      color: $darkerPurple;
    }
  }

  .figures_grid_child:hover {
    transform: translate(0px, -5px);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    cursor: grab;
  }

}


.data_table {
  margin: 50px 0;

  // color: #545F7D;
  overflow-x: scroll;
  padding-bottom: 80px;
  // overflow-y: visible;
  // border: 1px solid red;
  // z-index: 1;

  .products_container {
    width: 100%;
    padding: 30px 30px 39px 30px;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $lightPurple;
    box-shadow: 0 20px 3px, 5px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    font-size: 14px;
    position: relative;

    tbody {
      tr {
        &:first-child {
          td {
            input {
              width: 100%;
              box-sizing: border-box;
              // padding-bottom: 10px;
              height: 30px;
              font-size: 16px;
              border-radius: 5px;
              margin-bottom: 20px;
            }
          }
        }


        text-align: left;
        color: #000;
        font-weight: 500;

        th {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: $darkerPurple;
          font-family: "Montserat", sans-serif;

          .table_header_flex {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              cursor: pointer;
            }

            .hide_filter_container {
              display: none;
            }

            .filter_container {
              display: flex;
              flex-direction: column;
              gap: 30px;
              position: absolute;
              top: 70px;
              left: 15px;
              width: 270px;
              border-radius: 4px;
              padding: 30px 20px;
              background-color: $white;
              z-index: 1;
              border: 1px solid rgba(33, 63, 125, 0.06);
              box-shadow: 0 20px 3px, 5px rgba(0, 0, 0, 0.04);
              // border: 2px solid red;

              .input_fields_container {
                display: flex;
                flex-direction: column;
                gap: 20px;

                label {
                  display: flex;
                  flex-direction: column;
                  gap: 6px;
                  font-size: 14px;
                  line-height: 16px;
                  color: #545F7D;
                  font-weight: 500;
                  text-transform: capitalize;

                  input,
                  select {
                    height: 40px;
                    font-size: 14px;
                    line-height: 16px;
                    color: #545F7D;
                    font-weight: 400;
                    border-radius: 8px;
                    border: 1px solid #213F7D;
                    padding: 0 20px;
                  }
                }

                .organisation_option_box {
                  position: relative;
                  // border: 1px solid red;

                  select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                  }

                  .organisation_select_icon {
                    position: absolute;
                    // left: 200px;
                    right: 20px;
                    top: 31px;
                  }
                }

                .status_option_box {
                  position: relative;
                  // border: 1px solid red;

                  select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                  }

                  .status_select_icon {
                    position: absolute;
                    right: 20px;
                    top: 31px;
                  }
                }
              }

              .filter_btn_container {
                display: flex;
                gap: 14px;
                width: 100%;

                %form_btn_shared {
                  height: 40px;
                  font-size: 14px;
                  line-height: 16px;
                  font-weight: 600;
                  border-radius: 8px;
                  width: 100%;
                  cursor: pointer;
                }

                .reset_btn {
                  @extend %form_btn_shared;
                  color: #545F7D;
                  border: 1px solid #545F7D;
                  background-color: $white;
                }

                .submit_btn {
                  @extend %form_btn_shared;
                  color: $white;
                  border-radius: 8px;
                  background-color: #39CDCC;
                  border: none;
                }
              }

            }
          }
        }

        td {
          border-bottom: 1px solid $lighterPurple;
          height: 60px;
        }

        td:last-child {
          text-align: right;
          color: $primary-color;
          font-style: italic;
          font-family: monospace;

          span {
            cursor: pointer;
          }
        }

        // &:first-child {
        //   td {
        //     input {
        //       width: 100%;
        //       box-sizing: border-box;
        //     }
        //   }
        // }

      }

      // tr:first-child {
      //   td {
      //     border: 1px solid red;
      //   }
      // }

      // tr:nth-child(2) {
      //   margin-top: 20px;

      //   td {
      //     margin-top: 20px;
      //     border: 1px solid red;
      //   }
      // }

      // tr:last-child {
      //   td {
      //     border-bottom: none;
      //   }
      // }

    }
  }
}

.data_modifier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  // border: 2px solid green;

  .items_per_page {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    // border: 1px solid green;

    select {
      background-color: rgba(33, 63, 125, 0.1);
      width: 80px;
      height: 30px;
      border-radius: 4px;
      border: none;
      padding: 0 10px;
      margin: 0 5px;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      // text-indent: 1px;
      // text-overflow: '';
    }

    .items_per_page_icon {
      position: absolute;
      top: 3.5px;
      left: 111px;
    }
  }

  .pagination {
    // width: max-content;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

    .page-item {
      color: #545F7D;
      cursor: pointer;
    }

    .active {
      color: #545F7D;
      font-weight: 600;
    }



    .page-item:first-child {
      background-color: rgba(33, 63, 125, 0.1);
      padding: 5px 10px;
      border-radius: 4px;
    }

    .page-item:last-child {
      background-color: rgba(33, 63, 125, 0.1);
      padding: 5px 10px;
      border-radius: 4px;
    }
  }

}







// .dashboard {
//   width: 100%;
//   height: min-content;
//   border: 1px solid red;

//   .flexContainer {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//     gap: 30px;
//     margin-bottom: 50px;

//     .flexItem {
//       width: 100%;
//       min-width: 200px;
//       flex: 30%;
//       height: 100px;
//       border-radius: 5px;
//       border: 1px solid green;
//       height: 100px;
//     }
//   }

//   .products {
//     // border: 1px solid red;

//     table {
//       table-layout: auto;
//       width: 100%;
//     }
//   }
// }

// Medium devices (tablets, 576px and up)
@media (max-width: 576px) {
  .dashboard {
    // width: 100%;
    // height: min-content;
    // border: 1px solid red;

    .flexContainer {
      // flex-direction: column;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;


      .flexItem {
        flex: 100%;
        height: 100px;
        border: 1px solid green;
        height: 100px;
      }
    }
  }
}