@import "globals.module.scss";

.figures_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  // margin-bottom: 50px;
  // border: 1px solid red;

  .figures_grid_child {
    color: $white;
    // border-radius: 5px;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;

    p {
      margin: 0;
    }

    .grid_title {
      font-weight: 500;
      font-size: 20px;
      // color: $primary-color_20;
      font-family: "Roboto", sans-serif;
    }

    .grid_number {
      font-weight: 700;
      font-size: 30px;
      font-variant-numeric: tabular-nums;
      font-family: "Mulish", sans-serif;
      // color: $primary-color_10;
    }
  }

  .figures_grid_child:hover {
    transform: translate(0px, -5px);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    cursor: grab;
  }

}

.data_table {
  margin: 50px 0;
  overflow-x: auto;
  padding-bottom: 80px;
}



// Large devices (992px and down)
@media (max-width: 992px) {
  .figures_grid_container {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    // margin-bottom: 50px;
  }
  
  .sales_title {
    font-size: 18px;
  }
}



// Medium devices (tablet 768px and up)
@media (max-width: 768px) {
  .figures_grid_container {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    // margin-bottom: 50px;
  }
}



// Small devices (mobile 576px and up)
@media (max-width: 576px) {
  .figures_grid_container {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    // margin-bottom: 50px;
  }
}