.view {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;

  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    // left: 0;
    background-color: gainsboro;
    overflow-x: hidden;
    padding: 30px 30px 0 50px;

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    .personalData {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        padding: 10px 10px;
        font-size: 16px;
        background: teal;
      }
    }
  }

  .main {
    margin-left: 250px;
  
    .mainBox {
      width: 100%;
      text-align: justify;
      padding: 120px 50px 50px;
      // border: 2px solid green;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .view {
    .sidebar {
      display: none;
    }

    .main {
      margin-left: 0;
    }
  }
}
