@import "globals.module.scss";

.container {
  font-family: 'Mulish', sans-serif;
  // border: 1px solid green;
  // margin: 0;

  %flex_shared {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $darkPurple;
    text-decoration: none;
  }
  %flex_shared:hover {
    background-color: $primary-color_active_link;
  }

  .topbar_container {
    display: grid;
    grid-template-columns: 243px 1fr;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    background-color: $white;
    box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
    position: sticky;
    top: 0;
    z-index: 2;
    // border: 1px solid red;

    .sidebar_toggle {
      display: none;
    }

    .logo {
      // border: 1px solid green;
      width: 100%;
      max-width: 145px;
    }

    .topbar_right_container {
      // border: 1px solid violet;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;

      .topbar_input_box {
        width: 400px;
        height: 40px;
        border-radius: 8px;
        position: relative;
        // border: 2px solid red;

        .topbar_input {
          width: 100%;
          height: 100%;
          border-radius: 8px;
          font-size: 14px;
          padding: 0 16px;
          box-sizing: border-box;
          outline: none;
          border: 1px solid $lightPurple;
        }

        .topbar_input:focus {
          border: none;
          outline: 1px solid $primary-color;
        }

        .topbar_input_icon {
          position: absolute;
          top: 0px;
          right: -0.5px;
          padding: 13px 25px;
          border-radius: 0 8px 8px 0;
          cursor: pointer;
          color: $darkerPurple;
          background-color: $lightPurple;
        }
      }

      .topbar_profile_box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        .notifications {
          color: $primary-color;
        }

        .user_profile {
          display: flex;
          align-items: center;
          gap: 15px;
          // border: 1px solid red;

          .user_name {
            display: flex;
            flex-direction: column;
            gap: 4px;

            p {
              margin: 0;
              // border: 1px solid red;
              font-size: 12px;
              letter-spacing: 1px;
              font-family: "Roboto", sans-serif;
            }
          }
        }
      }

      .topbar_profile_box_mobile {
        display: none;
      }
    }
  }

  .layout {
    position: relative;
    // border: 2px solid red;

    .sidebar {
      position: fixed;
      top: 80px;
      left: 0;
      width: 243px;
      bottom: 4px;
      min-height: 0 !important;
      background-color: $white;
      box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
      overflow: scroll;
      // border: 1px solid red;

      .close_btn {
        display: none;
      }

      .flex_container_1 {
        @extend %flex_shared;
        margin: 30px 0 10px 0;
        padding: 10px 0px 10px 20px;

        p {
          margin: 0
        }
      }

      .flex_container_2 {
        @extend %flex_shared;
        margin-top: 20px 0 10px 0;
        padding: 10px 0px 10px 20px;
        // border: 1px solid red;

        p {
          margin: 0;
        }
      }
      .active_link {
        border-left: 3px solid $primary-color;
        background-color: $primary-color_active_link;
      }

      .nav_container {
        margin: 21px 0 0 0;
        // border: 1px solid red;

        .nav_heading {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: $lightPurple;
          padding-left: 20px;
          font-family: 'Roboto', sans-serif;
          letter-spacing: 2px;
          margin-bottom: 10px;
          // border: 1px solid green;
        }

        .nav_item {
          @extend %flex_shared;
          text-transform: capitalize;
          // padding-left: 20px;
          padding: 10px 0 10px 20px;
          margin: 5px 15px 5px 0;
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          text-decoration: none;
          // border: 1px solid red

          p {
            margin: 0;
          }
        }

        .nav_item:hover {
          background-color: $primary-color_active_link;
        }

        .active_link {
          border-left: 3px solid $primary-color;
          background-color: $primary-color_active_link;
        }
      }

      .logout {
        @extend %flex_shared;
        position: absolute;
        bottom: 4px;
        // margin-top: 20px 0 10px 0;
        padding: 0px 0px 0px 20px;
        background-color: $lightPurple;
        color: $darkerPurple;
        width: 100%;
        font-size: 24px;
      }
    }

    .main {
      padding: 20px;
      margin-left: 243px;
      // border: 1px solid violet;
      // z-index: 2;
    }
  }

}



// Large devices (1200px and down)
@media (max-width: 1200px) {

  %flex_shared_large_screen {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #213F7D;
    // border: 2px solid red;
  }

  .container {
    .topbar_container {
      display: grid;
      grid-template-columns: 223px 1fr;
      align-items: center;
      padding: 0 20px;
      height: 80px;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      position: sticky;
      top: 0;
      z-index: 2;
      // border: 1px solid red;

      .sidebar_toggle {
        display: none;
      }

      .topbar_right_container {
        // padding: 0 0 0 20px;
        // border: 1px solid red;

        .topbar_input_box {
          width: 350px;
          height: 40px;
          border-radius: 8px;
          position: relative;
          box-sizing: border-box;
          // border: 2px solid red;
        }

        .topbar_profile_box {
          gap: 15px;

          .topbar_box_docs {
            margin-right: 15px;
          }

          .user_profile {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .topbar_profile_box_mobile {
          display: none;
        }
      }
    }

    .layout {
      position: relative;
      // border: 1px solid red;

      .sidebar {
        width: 223px;

        .flex_container_1 {
          @extend %flex_shared;
          margin: 30px 0 10px 0;
        padding: 10px 0px 10px 20px;

          p {
            margin: 0;
          }
        }

        .flex_container_2 {
          @extend %flex_shared;
          margin-top: 30px 0 10px 0;
        padding: 10px 0px 10px 20px;
          // border: 1px solid red;

          p {
            margin: 0;
          }
        }
      }

      .main {
        padding: 20px;
        margin-left: 223px;
      }
    }

  }
}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) {

  %flex_shared_medium_screen {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    // color: #213F7D;
  }

  .container {
    .topbar_container {
      display: grid;
      grid-template-columns: 50px auto auto;
      align-items: center;
      height: 80px;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      position: sticky;
      top: 0;
      z-index: 2;

      .sidebar_toggle {
        display: block;
      }

      .logo {
        width: 100%;
        max-width: 120px;
        margin-left: 20px;
        justify-self: flex-start;
      }

      .topbar_right_container {
        justify-self: flex-end;
        // padding: 0 0 0 25px;

        .topbar_input_box {
          display: none;
        }

        .topbar_profile_box {
          display: none;
        }

        .topbar_profile_box_mobile {
          display: block;
          position: relative;
          // border: 1px solid red;

          .dropdown_btn {
            display: flex;
            align-items: center;
          }

          .dropdown_content_mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            right: 0;
            top: 48px;
            background-color: #f1f1f1;
            min-width: 250px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            padding: 15px 10px;
            text-align: left;
            transition: 0.5s;
            border-radius: 5px;
            // border: 1px solid red;

            .topbar_input_box_mobile {
              box-sizing: border-box;
              width: 230px;
              height: 35px;
              border-radius: 5px;
              position: relative;

              .topbar_input_mobile {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                font-size: 14px;
                padding: 0 8px;
                outline: none;
                border: 1px solid $lightPurple;
              }

              .topbar_input_mobile:focus {
                outline: 1px solid $primary-color;
                border: none;
              }

              .topbar_input_icon_mobile {
                position: absolute;
                top: 0px;
                right: -18.5px;
                padding: 11.5px 15px;
                border-radius: 0 5px 5px 0;
                background-color: $lightPurple;
                cursor: pointer;
                // border: 2px solid red;
              }
            }
          }
        }
      }
    }

    .sidebar {
      display: none;
    }

    .show_sidebar {
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 243px;
      bottom: 4px;
      min-height: 0 !important;
      background-color: $white;
      box-shadow: 0px 24px 48px 0 rgba(0, 0, 0, 0.04);
      overflow: scroll;

      .logo_box {
        display: flex;
        align-items: center;
        height: 100px;

        .close_btn {
          display: block;
          font-size: 30px;
          font-weight: 700;
          display: flex;
          justify-content: flex-end;
          width: 85%;
        }

        .logo {
          display: none;
        }
      }

      .flex_container_1 {
        @extend %flex_shared_medium_screen;
        margin-top: 20px;
        padding-left: 20px;
        // border: 1px solid red;

        p {
          margin: 0;
        }
      }

      .flex_container_2 {
        @extend %flex_shared_medium_screen;
        margin-top: 30px;
        padding: 5px 0 5px 20px;
        // border: 1px solid red;

        p {
          margin: 0;
        }
      }

      .nav_container {
        margin: 41px 0 0 0;
        // border: 1px solid red;

        .nav_heading {
          padding-left: 25px;
        }

        .nav_item {
          @extend %flex_shared_medium_screen;
          padding-left: 25px;
          // border: 1px solid red
        }

        .active_link {
          border-left: 3px solid $primary-color;
          background-color: $primary-color_active_link;
        }
      }

    }

    .hide_sidebar {
      display: none;
    }

    .layout {
      margin-left: 0px;
      position: relative;

      .main {
        padding: 20px;
        margin: 0;
      }

    }

  }
}


// Small devices (phones, 576px and down)
@media (max-width: 576px) {

  %flex_shared_small_screen {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #213F7D;
  }

  .container {
    .topbar_container {
      display: grid;
      grid-template-columns: 30px auto auto;
      padding: 0 15px 0 15px;

      .sidebar_toggle {
        display: block;
        // border: 1px solid green;
      }

      .logo {
        // border: 1px solid green;
        width: 100%;
        max-width: 120px;
        margin-left: 15px;
        justify-self: flex-start;
      }

      .topbar_right_container {
        justify-self: flex-end;
        padding: 0 0 0 15px;

        .topbar_input_box {
          display: none;
        }

        .topbar_profile_box {
          display: none;
        }

      }
    }

    .sidebar {
      display: none;
    }

    .hide_sidebar {
      display: none;
    }

    .layout {
      margin-left: 0px;
      position: relative;

      .main {
        padding: 15px;
        margin: 0;
      }
    }

  }

}