@import "globals.module.scss";


.data_table {
  width: 100%;
  overflow: auto;
}

.product_details {

  .image_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    // border: 2px solid red;
  }
}

.product_actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}


// Mobile devices (576px and down)
@media (max-width: 576px) {

  .products_title {
    font-size: 18px;
  }
  .product_details {

    .image_container {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }
  .product_actions {
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
  }


  // For single product
  .single_product_title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
}
