@import "globals.module.scss";

.product_details {

  .image_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // border: 2px solid red;
  }
}

.product_actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

